{% extends 'core/base.html' %}

{% block title %}Historia{% endblock %}

  {% block content %}
  {% load static %}
  <section class="page-section about-heading">
      <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/aboutUs.jpg' %}" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h1 class="section-heading mb-4">
                  <span class="section-heading-lower text-center"><b>Antecedentes de la empresa</b></span>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/PixSoft.png' %}" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper"></span>
                  <span class="section-heading-lower">Nuestra historia</span>
                </h2>
                <p>PixSoft, fue iniciada y asociada originalmente como una empresa de publicidad y diseño web comercial, a lo que al transcurrir del tiempo se transformó en una consultoría en desarrollo de software a la medida, que permite ofrecer al mercado o al cliente soluciones integrales a base de software.</p>
                <p>En Pixsoft nos esforzamos en poner la calidad en primer plano, porque creemos que esto es un factor necesario para llevarse una experiencia única en cada proyecto en el que generamos aliados de negocio; buscando ofrecer una ventaja competitiva a través de nuestro profesionalismo y creatividad. Motivo por el que desde 2011 se formaliza la captación de talentos y con ello el desarrollo de nuevos paradigmas capaces de automatizar procesos a partir del desarrollo de soluciones de software que incrementan y potencializan a los aliados de negocio.</p>
                <p>Entre la diversidad de personal en la empresa existen: Auditores, Desarrolladores, Contadores Públicos Certificados y Agentes publicitarios. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<hr>

    <section class="page-section about-heading">
      <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/organizaciónEmpresa.jpg' %}" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h1 class="section-heading mb-4">
                  <span class="section-heading-lower text-center"><b>Estructura organizacional</b></span>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/gestionNegocios.jpg' %}" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-lower">Gestión de negocios</span>
                </h2>
                <p>Encargado de identificar las oportunidades que brinda el entorno que lo rodea y crear oportunidades que conlleven al crecimiento del negocio.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/gestionProyectos.png' %}" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-lower">Gestión de proyectos</span>
                </h2>
                <p>Define y mantiene estándares de procesos relacionados a la gestión de proyectos dentro de la empresa.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/gestionProcesos.jpg' %}" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-lower">Gestión de procesos</span>
                </h2>
                <p>Garantiza la adaptabilidad y mejora continua del proceso en función a ciertas estrategias.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/gestionRecursos.jpg' %}" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-lower">Gestión de recursos</span>
                </h2>
                <p>Administra los diferentes tipos de recursos que maneja la organización.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
  

    