{% extends 'core/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <!-- Cabecera -->

    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          {% load static %}
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/intro.jpg' %}" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Conócenos</span>
              <span class="section-heading-lower">Implementación de redes</span>
            </h2>
            <p class="mb-3">Implantación y mantenimiento de redes de voz y datos administrables para pequeñas y medianas empresas.
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="{% url 'store' %}">Visítanos</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          {% load static %}
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/intro.jpg' %}" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Conócenos</span>
              <span class="section-heading-lower">Consultoría y capacitación</span>
            </h2>
            <p class="mb-3">Brindamos consultoría y capacitación en el área de TI Con ingenieros y colaboradores certificados en diversas áreas de tecnologías de la información y comunicación.
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="{% url 'store' %}">Visítanos</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          {% load static %}
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/intro.jpg' %}" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Conócenos</span>
              <span class="section-heading-lower">Desarrollo web</span>
            </h2>
            <p class="mb-3">Creamos tu página web utilizando las últimas tecnologías disponibles. Una Web adaptativa a tu móvil o Tablet y con un gestor de contenido fácil.
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="{% url 'store' %}">Visítanos</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Mensaje -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <!--<span class="section-heading-upper">PixSoft</span>-->
                <span class="section-heading-lower">Visión</span>
              </h2>
              <p class="mb-0">Ser una empresa reconocida a nivel nacional capaz de establecer un estilo de vida de nuestros colaboradores, clientes y socio estratégicos con alta capacidad de innovación y formación de talentos.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <!--<span class="section-heading-upper">PixSoft</span>-->
                <span class="section-heading-lower">Misión</span>
              </h2>
              <p class="mb-0">Brindar productos y servicios de tecnologías de la información a nivel nacional, que generen valor agregado y aumenten la rentabilidad de nuestros clientes.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <!--<span class="section-heading-upper">PixSoft</span>-->
                <span class="section-heading-lower">Valores</span>
              </h2>
              <p class="mb-0">
              Constancia<br>
                  Trabajo en equipo <br>
                    Responsabilidad <br>
                      Compromiso <br>
                        Innovación <br>
                          Honestidad <br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
