{% extends 'core/base.html' %}

{% block title %}{% endblock %}

{% block content%}
    <section class="page-section about-heading">
      <div class="container">
        <div class="about-heading-content mbtm">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5 forced">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-lower">{{page.title}}</span>
                </h2>
                <div class="section-content">
                    <p>{{page.content|safe}}</p> <!-- Hacerle saber a Django que es seguro para que no muestre el HTML en crudo -->
                    {% if user.is_authenticated %} <!--Comprobar si el usuario está autenticado -->
                      <p><a href="{% url 'admin:pages_page_change' page.id %}">Editar</a></p> <!-- Plantilla: 'admin:App_Model_action' obj.id (comillas hacen referencia a un path de las urls) -->
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}